/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/* start editing from here */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
/*--login form start here--*/ 
body {
   background:url(../images/bg.jpg)no-repeat;
   opacity: 0.8;
   background-size: cover;
   font-family: 'Open Sans', sans-serif;
   font-size: 100%;
}
.asterics {
  color: red;
}

.logo {
  display: block;
  margin-top: 300px;
  text-align: center;
  color: white;
  position: relative;
}

.message {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  font-weight: bold;
  padding: 15px;
  margin: 0;
  text-align: center;
}

.error {
  background-color: red;
  width: 200px;
}

.success {
  background-color: green;
  width: 400px;
}


table.blueTable {
  border: 1px solid #152238;
  background-color: #EEEEEE;
  width: 70%;
  text-align: center;
  border-collapse: collapse;
}
table.blueTable td, table.blueTable th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}
table.blueTable tbody td {
  font-size: 13px;
}
table.blueTable tr:nth-child(even) {
  background: #D0E4F5;
}
table.blueTable thead {
  background: #152238;
  background: -moz-linear-gradient(top, #4f596a 0%, #2c384c 66%, #152238 100%);
  background: -webkit-linear-gradient(top, #4f596a 0%, #2c384c 66%, #152238 100%);
  background: linear-gradient(to bottom, #4f596a 0%, #2c384c 66%, #152238 100%);
  border-bottom: 2px solid #444444;
}
table.blueTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  border-left: 2px solid #D0E4F5;
}
table.blueTable thead th:first-child {
  border-left: none;
}

table.blueTable tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  background: #D0E4F5;
  background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  border-top: 2px solid #444444;
}
table.blueTable tfoot td {
  font-size: 14px;
}
table.blueTable tfoot .links {
  text-align: right;
}
table.blueTable tfoot .links a{
  display: inline-block;
  background: #152238;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}

form button {
 font-size: 1em;
  font-weight: 600;
  color: #fff;
  padding: 1.3em 0.5em;
  width: 22%;
  text-align: center;
  text-shadow: rgba(80, 80, 80, 0.08) 1px 1px, 
               rgba(80, 80, 80, 0.07) 2px 2px, 
               rgba(80, 80, 80, 0.09) 3px 3px, 
               rgba(80, 80, 80, 0.04) 4px 4px, 
               rgba(80, 80, 80, 0.06) 5px 5px;
  border-radius: 0px 5px 5px 0px;
  -webkit-border-radius:0px 5px 5px 0px;
  -moz-border-radius:0px 5px 5px 0px;
  -o-border-radius:0px 5px 5px 0px;
  margin: 0px 0px 0px -4px;
  background:#152238;
  cursor:pointer;
  border: none;
  outline: none;
  -webkit-appearance: none;
  background: #152238;

}

.result {
  margin-left: 30px;
}

.styled {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
}

.styled thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: center;
}

.styled th,
.styled td {
  padding: 12px 15px;
}

.styled tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}
.search {
  text-align: center;
/*  margin: 22em 0em 0em 0em;
*/  position: relative;
}
.s-bar {
  width: 34%;
  margin: 0 auto;
  padding: 0.5em 0em 0.5em 0em;
}
.s-bar input[type="text"] {
  font-size: 1em;
  font-weight: 600;
  color: #fff;
  padding: 1.3em 1em 1.3em 1.5em;
  width: 70%;
 text-shadow: #000000;
  border-radius: 5px 0px 0px 5px;
 -webkit-border-radius: 5px 0px 0px 5px;
  -moz-border-radius: 5px 0px 0px 5px;
  -o-border-radius: 5px 0px 0px 5px;
  background: rgba(255, 255, 255, 0.5);
  border: none;
  outline: none;
  -webkit-appearance: none;
}
.s-bar input[type="submit"]{
  font-size: 1em;
  font-weight: 600;
  color: #fff;
  padding: 1.3em 0.5em;
  width: 22%;
  text-align: center;
  text-shadow: rgba(80, 80, 80, 0.08) 1px 1px, 
               rgba(80, 80, 80, 0.07) 2px 2px, 
               rgba(80, 80, 80, 0.09) 3px 3px, 
               rgba(80, 80, 80, 0.04) 4px 4px, 
               rgba(80, 80, 80, 0.06) 5px 5px;
  border-radius: 0px 5px 5px 0px;
  -webkit-border-radius:0px 5px 5px 0px;
  -moz-border-radius:0px 5px 5px 0px;
  -o-border-radius:0px 5px 5px 0px;
  margin: 0px 0px 0px -4px;
  background:#0000CD;
  cursor:pointer;
  border: none;
  outline: none;
  -webkit-appearance: none;
  background: #0000CD;
  background: -moz-linear-gradient(top, #0000CD 0%, #0000CD 37%, #0000CD 66%, #0000CD 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0000CD), color-stop(37%,#0000CD), color-stop(66%,#0000CD), color-stop(100%,#0000CD));
  background: -webkit-linear-gradient(top, #0000CD 0%,#0000CD 37%,#0000CD 66%,#0000CD 100%);
  background: -o-linear-gradient(top, #0000CD 0%,#0000CD 37%,#0000CD 66%,#0000CD 100%);
  background: -ms-linear-gradient(top, #0000CD 0%,#0000CD 37%,#0000CD 66%,#0000CD 100%);
  background: linear-gradient(to bottom, #8EDB15 0%,#8EDB15 37%,#8EDB15 66%,#8EDB15 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0000CD', endColorstr='#0000CD',GradientType=0 );
}
.s-bar input[type="submit"]:hover{
	opacity: 0.8;
      filter: alpha(opacity=100); 
      transition: all 0.3s ease; 
     -webkit-transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
     -o-transition: all 0.3s ease;
}
.search i {
  background: url(../images/search.png)no-repeat;
  width: 31px;
  height: 31px;
  display: block;
  position: absolute;
  top: 20%;
  left: 32.2%;
  cursor: pointer;
}
.search p {
  font-size: 0.9em;
  font-weight: 400;
  color: #fff;
  margin: 1em 0em 0em 0em;
}
.search p a {
  font-size: 0.9em;
  font-weight: 400;
  color: #fff;
  text-decoration: underline;
}
.search p a:hover {
	text-decoration:none;
}
.copyright {
  margin: 15em 0em 0em 0em;
  text-align: center;
}
.copyright p {
  font-size: 0.875em;
  font-weight: 400;
  color: #fff;
}
.copyright p a{
  font-size: 1em;
  font-weight: 400;
  color:#8EDB15;
}
.copyright p a:hover{
	color: #fff;
	 transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
/*--meadia quiries start here--*/
@media(max-width:1440px){
.search i {
  left: 29.2%;
}
.s-bar {
  width: 40%;
}
}
@media(max-width:1366px){

}
@media(max-width:1280px){
.copyright {
  margin: 13em 0em 4em 0em;
}
.s-bar input[type="text"] {
  width: 63%;
}
.search i {
  left: 30.2%;
}
}
@media(max-width:1024px){
.s-bar {
  width: 50%;
}
.search i {
  left: 25.2%;
}
.copyright {
  margin: 13em 0em 4.1em 0em;
}
}
@media(max-width:768px){
.copyright {
  margin: 21em 0em 7.2em 0em;
}
.search {
/*  margin: 22em 0em 0em 0em;
*/}
.s-bar {
  width: 58%;
}
.search i {
  left: 19.5%;
}
.s-bar input[type="text"] {
  width: 67%;
}
.copyright p {
  font-size: 0.9em;
}
}
@media(max-width:667px){
.search i {
  left: 18.5%;
}	
}
@media(max-width:640px){
.s-bar {
  width: 65%;
}
.search i {
  left: 15.5%;
}	
}
@media(max-width:600px){
.search i {
  left: 14.5%;
}	
}
@media(max-width:568px){
.s-bar input[type="text"] {
  width: 64%;
}	
}
@media(max-width:480px){
.s-bar input[type="text"] {
  width: 55%;
  font-size: 0.8em;	
}
.s-bar input[type="submit"] {
  width: 30%;
  font-size: 0.8em;
}
.search i {
  top: 17%;
}
}
@media(max-width:414px){
.search i {
  top: 16%;
  left: 13.5%;
}	
}
@media(max-width:320px){
.copyright {
  margin: 10.45em 0em 3em 0em;
}
.copyright p {
  font-size: 0.8em;
}
.copyright p {
  font-size: 0.8em;
}
.search {
/*  margin: 11.25em 0em 0em 0em;
*/}
.s-bar {
  width: 100%;
}
.search i {
  left: 43%;
  top: -36%;
}
.search p {
  font-size: 0.72em;
}
.s-bar input[type="submit"] {
  text-shadow: rgba(80, 80, 80, 0.08) 1px 1px, 
               rgba(80, 80, 80, 0.07) 2px 2px, 
               rgba(80, 80, 80, 0.09) 3px 3px, 
               rgba(80, 80, 80, 0.04) 4px 4px, 
               rgba(80, 80, 80, 0.06) 5px 5px;              
}
}
/*--meadia quiries end here--*/